.product__detail {
  margin-top: 50px;
}
.product__detail h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.product__rating span i {
  color: coral;
}
.product__rating p {
  color: coral;
  font-weight: 600;
}
.product__rating {
  margin-top: 5px;
}
.black {
  background: #000;
}
.active__tab {
  font-weight: 600;
  border-bottom: 1px solid var(--primary-color);
}
.tab__wrapper h6 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.tab__content {
  line-height: 30px;
}
.review__form {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.review__wrapper ul li span {
  color: coral;
  font-weight: 600;
}
.form__group input,
.form__group textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px 20px;
}
.form__group input:focus {
  outline: none;
}
.form__group {
  margin-bottom: 30px;
}
.form__group span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: coral;
  font-weight: 600;
  cursor: pointer;
  margin-right: 40px;
  justify-content: center;
}
.review__btn{
    background: coral !important;
}

